<link rel="stylesheet" type="text/css" href="css/style.css">

<h1 class="result1">Your message has been sent!</h1><br>
<h2 class="result2">Here's what you sent:</h2>
<h3 class="result3"><%= @message %></h3>
<br><br>
<h2 class="result2"> And here's the number you sent it to:</h2>
<h3 class="result3"><%= @number %></h3>